<div class="cta-section" id="get_involved">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="cta-title">Get Involved</h1>
                <p class="cta-text">We are nurturing kids that can study present innovations, master their requirements and then exploit their opportunities so as to cause an industrial revolution in their nation.
                <p class="cta-text">You want to support what we do?</p>
                <a href="" class="btn btn-default" target="_blank">Get Involved!</a> </div>
        </div>
    </div>
</div>